html {
  background-color: #3d3c3c;
  color:white;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#h1 {
  justify-content: center;
  align-items: center;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(90, 236, 90);
}

.active {
  background-color: #04AA6D;
}

.nav-Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
}

.nav-Item {
  list-style-type: none;
}


@media (max-width: 550px) {
  hidden--mobile {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .nav-Flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* Remove default bullets, source from W3 schools*/
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/* Contact page */
#bio {
  display: flex;
  justify-content: center;
}


/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
